*~
/autom4te.cache/
/.autotools
/.cproject
/.project
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.h.in~
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/Makefile.in
/missing
GITREF
.settings/
build/